body {
    background-color: black;
    color: white;
    text-align:center
}
.blog_page {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    width: 800px;
    padding: 5px;
}
