.poler {
    width: 128px;
    height: 128px;
}
.news {
    border: 1px solid white;
    border-style: dotted;
    border-collapse: collapse;
    width: 1000px;
    padding: 10px;
}
.links {
    border-style: solid;
    border-width: 1px;
    border-color: yellow;
    width: 430px;
    height: 23px;
    padding: 5px;
}
.about {
    border: 2px solid rgb(255, 255, 255);
    border-collapse: collapse;
    border-width: 1px;
    width: 1000px;
    border-style: dotted;
    padding: 15px;
}
.boarder {
    border-style: solid;
    background-color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
    width: 400px;
    height: 1px;
}
body {
    background-color: black;
    color: white;
    text-align:center
}
.blog_page {
    border-style: solid;
    border-width: 1px;
    border-color: yellow;
    width: 100px;
    height: 23px;
    padding: 5px;
}
.back {
    border-style: solid;
    border-width: 1px;
    border-color: yellow;
    padding: 5px;
    width: 80px;
}
.polerad1{
    width: 400px;
    height: 200px;
}
.billboard_ad{
    width: 970px;
    height: 250px;
}
.fire{
    width: 740px;
    height: 160px;
}
.nav_boarder {
    border-style: solid;
    border-width: 4px;
    border-left-width: 20px ;
    border-right-width: 20px ;
    border-color: rgb(0, 98, 218);
    width: 700px;;
    padding: 0px;    
}
.releases {
    border-style:dotted;
    border-width: 1px;
    background-color: rgb(0, 0, 0);
    border-color: rgb(255, 255, 255);
    width: 700px; 
    padding: 30px;   
}
iframe {
    width: 640px;
    height: 360px;
}

video {
    width: 640px;
    height: 360px;
}